body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  -webkit-print-color-adjust:exact;
  font-size: 12px !important;
}

.container-fluid {
  padding-left: 0px !important;
}

.navbar {
  margin-bottom: 0px;
  margin-left: 5px;
  /* padding-left: 5px; */
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.navbar-default {
  border-radius: 0px;
  background-color: white !important;
  border-color: white !important;
  background-image: none !important;
}

.navbar-inverse {
  border-radius: 0px;
}

.form-control {
  border-radius: 0px;
  background-color: white !important;
  border-color: white !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
}

.input-large{
  width: 300px !important;
}

.form-group {
  display: inline-flex !important;
}

.sidebar {
  min-height: 500px;
  background-color: #344152;
  color: white;
  padding-right: 0px;
}

.footer {
  min-height: 50px;
  background-color: #344152;
  color: white;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #283240;
  border-left: 5px solid #55a9ff;
  border-radius: 0px;

}

.nav-pills>li>a, .nav-pills>li>a:focus, .nav-pills>li>a:hover {
  background-color: #344152;
  border-left: 5px solid transparent;
  border-radius: 0px;
  color: white;
}

a {
  color: white !important;
}

a.focus, a.hover, a:focus, a:hover  {
  text-decoration: none !important;
}